body {
    background: rgb(20, 20, 20);
    color: whitesmoke;
    
}



#h1 {
    display: flex;
    justify-content:center;
    align-content:center;
}

.sub-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3.5vw;
    text-transform: uppercase;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    color: rgb(207, 196, 34);
    text-shadow: 1px 1px 3px rgba(217, 228, 118, 0.795);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 35%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 35%;
    
}

ul {
    list-style: none;
    text-transform: capitalize;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border-radius: 2px;
    border-style: none;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: rgb(199, 194, 194);
    color: rgb(0, 0, 0);
}

button:hover {
    cursor: pointer;
    background-color: wheat;
}

section h2 {
    text-transform: uppercase;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}